* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  background-color: #333;
  color: #ddd;
  padding: 20px;
  text-align: center;
}
article {
  padding: 20px;
  background-color: #f6f6f6;
  border: 1px solid #cccccc;
  margin: 20px;
}
nav ul li {
  display: inline-block;
  padding: 10px;
}

nav ul {
  padding: 20px;
}
nav {
  background-color: #ddd;
  text-align: center;
  padding: 20px;
}
nav ul li:after{
    content:"|";

}
nav ul li:last-child:after{
    content:""
}
article header{
    background-color:#e2e2e2;
    padding: 10px;

}
article section{
    padding: 10px;
}
footer{
    background-color: #333;
color:#ddd;
padding: 10px;
text-align: center;
}
